@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,600;1,900&display=swap');
@import url('https://rsms.me/inter/inter.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

.btn-transition {
  @apply transition-all duration-300 ease-in-out;
}

.social-link {
  @apply w-8 h-8 btn-transition hover:opacity-60;
}

.form-input-style {
  @apply bg-slate-100 border-2 border-gray-300 rounded-xl focus:outline-none focus:border-sky-400;
}

.password-input {
  @apply form-input-style w-full pl-3 pr-12 py-2 overflow-hidden;
}

.sidebar-btn {
  @apply btn-transition p-2 xl:px-4 flex justify-center xl:justify-start items-center font-bold hover:bg-slate-200 border-2 border-transparent hover:border-slate-200 rounded-xl;
}

.sidebar-btn-icon {
  @apply h-7 w-7 xl:h-6 xl:w-6 xl:mr-4;
}

.sidebar-btn.active {
  @apply bg-sky-100 border-2 border-sky-300 text-sky-500;
}

.sidebar-text {
  @apply hidden xl:inline-block;
}

.footer-bg-dark {
  @apply bg-[#2B2D42] text-slate-300;
}

.footer-bg-light {
  @apply bg-slate-100;
}

.tab-style {
  @apply btn-transition w-full py-2 rounded-t-xl border-b-4 border-transparent hover:border-primary-tint hover:text-primary-tint;
}

.tab-active-style {
  @apply border-primary bg-red-100 text-primary-shade;
}

.h1-style {
  @apply text-2xl font-bold;
}

.banner-heading {
  @apply text-4xl font-semibold;
}

.chart-container {
  @apply grid gap-2 sm:gap-4 text-xl md:text-2xl lg:text-3xl xl:text-4xl text-center font-bold;
}

.chart-char-container {
  @apply py-2 flex flex-col rounded-xl shadow-md;
}

.chart-filled-container {
  @apply bg-red-50 border-2 border-primary-shade/40;
}

.chart-romaji {
  @apply font-normal text-sm sm:text-base md:text-lg lg:text-xl italic;
}

.chart-break {
  @apply my-8 border-2 border-slate-200;
}

.hero-bg {
  background-image: url('./assets/waves.svg'), url('./assets/endless-clouds.svg');
  background-size: 105%, 80px;
  background-position: bottom, top left;
  background-repeat: no-repeat, repeat;
}
