@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,600;1,900&display=swap');
@import url('https://rsms.me/inter/inter.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

.btn-transition {
  @apply transition duration-300 ease-in-out;
}

.social-link {
  @apply w-8 h-8 btn-transition hover:text-white;
}

.form-input-style {
  @apply bg-slate-100 border-2 border-gray-300 rounded-xl focus:outline-none focus:border-sky-400;
}

.password-input {
  @apply form-input-style w-full pl-3 pr-12 py-2 overflow-hidden;
}

.sidebar-btn {
  @apply btn-transition py-2 px-4 flex items-center font-bold hover:bg-slate-200 border-2 border-transparent hover:border-slate-200 rounded-xl;
}

.sidebar-btn-icon {
  @apply h-6 w-6 mr-4;
}

.sidebar-btn.active {
  @apply bg-sky-100 border-2 border-sky-300 text-sky-500;
}

.hero-bg {
  background-image: url('./assets/waves.svg'), url('./assets/endless-clouds.svg');
  background-size: 105%, 80px;
  background-position: bottom, top left;
  background-repeat: no-repeat, repeat;
}
